<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email List</title>
    
    
    <!-- axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
</head>
<body>
    <!-- vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <div id="app" style="display: flex; justify-content: center; align-items: center; height: 100vh;">
        <ul v-if="emailsArray.length == 10" style="font-size: 20px; font-weight: bold; ">
            <li v-for="(item, index) in emailsArray">
                {{item}}
            </li>
        </ul>
    </div>












    <script src="script.js" type="text/javascript"></script>
</body>
</html>